* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

.app {
    display: flex;
    justify-content: center;
    padding-top: 30vh;
    height: 100vh;
    background-color: #f0f0f0;

    @media (max-width: 857px) {
      padding-top: 10vh;
    }
}