.textInputContainer {
    position: relative;

    .textInput {
        width: 400px;
        height: 160px;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        border: none;
        font-size: 16px;
        resize: none;
        background-color: #EAEAEA;
        padding: 12px 15px;

        &:disabled {
            background-color: #EAEAEA;
        }
    }

    .charCount {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: 13px;
        font-weight: 590;
        color: #888;
    }

    .clearBtn {
        background: none;
        position: absolute;
        top: 12px;
        right: 15px;
        border: none;
        cursor: pointer;
        font-size: 3vh;
        color: #575555;
    }

    .copyBtn {
        background: none;
        position: absolute;
        top: 12px;
        right: 15px;
        border: none;
        cursor: pointer;

        .copyIcon {
            width: 15px;
            height: 15px;
        }
    }
}