.textInputContainer {
    position: relative;

    .textInput {
        width: 400px;
        height: 160px;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        border: none;
        font-size: 16px;
        resize: none;
        background-color: #EAEAEA;
        padding: 12px 15px;

        &:disabled {
            background-color: #EAEAEA;
            color: inherit;
        }
        

        @media (max-width: 452px) {
            flex-direction: column;
            width:80vw;
        }
    }

    .charCount {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: 13px;
        font-weight: 590;
        color: #888;
    }

    .clearBtn {
        background: none;
        position: absolute;
        top: 12px;
        right: 15px;
        border: none;
        cursor: pointer;
        font-size: 15pt;
        font-weight: bold;
        color: #575555;
    }

    .copyBtn {
        background: none;
        position: absolute;
        top: 12px;
        right: 15px;
        border: none;
        cursor: pointer;

        .copyIcon {
            width: 15px;
            height: 15px;
        }

        &:hover {
            opacity: 70%;
        }

        &:active {
            opacity: 90%;
        }
    }

    .keyboardBtn {
        width: 25px;
        // height: 10px;
        position: absolute;
        cursor: pointer;
        bottom: 15px;
        right: 15px;
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }